/LameDuckClient/nbproject/private/
/LameDuckClient/build/
/LameDuckClient/dist/
/TravelGoodBPEL/TravelGoodBPEL/nbproject/private/
/TravelGood/nbproject/private/
/TravelGood/build/
/TravelGood/src/jbiServiceUnits/
/TravelGoodBPEL/TravelGoodBPEL/build/
/TravelGood/dist/
/TravelGood/test/results/